body {
    background-color: rgb(216, 137, 81);
    color: white;
}
h1 {
    color: black;
    text-shadow: 4px 4px red;
}
.div1 { 
    background-color: violet;
    box-shadow: 5px 5px black;
    width: 300px;
}
.div2 {
    width: 200px;
    height: 200px;
}
.main{
    background-image: url(https://static1.squarespace.com/static/5c6c11b2b7c92cfb06b0fab0/t/5dd5acd2b177f03657eb78c7/1574284506242/MikaelKunnari-MBP-Lapland-15.jpg);
    background-size:cover;
}
a:link {
    transition: all .5s linear 0;
    color: black;
}
a:hover {
    color: hsl( red);
}

