body {
  background: black;
  color: white;
}
div.tyyli {
  position: relative;
  background: white;
  color: red;
  border: double 10px;
  border-color: chartreuse;
  width: 600px;
  height: 300px;
}
div.tyyli2 {
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  color: red;
  border: double 10px;
  border-color: chartreuse;
  width: 100px;
  height: 550px;
}