body {
  background-color: black;
}
h1 {
  background-color: green;
  text-align: center;
  font-size: 60px;
  color: yellow;
  border: 2px solid yellow;
  padding: 5px;
}
h2 {
  color: white;
  border: solid yellow;
  font-size: 30px;
}
p.perustyyli {
  color:yellow;
  font-size: large;
  background-color: lightgreen;
  border-radius: 8px;
  padding: 10px;

}
body.style {
  background-image: url("https://s3-eu-west-1.amazonaws.com/frantic/korkeasaari-fi/2019/09/11173316/Korkeasaari_ZOO_PYSTYlogo_DOUBLEGREEN_RGB.png");
  background-size: 300px;
}
img {
  border: 2px solid yellow;
}
figcaption {
  background-color: green;
  padding: 2px;
  color: lightyellow
}
div.tyyli {
  position: relative;
  background: white;
  color: red;
  border: double 10px;
  border-color: chartreuse;
  width: 600px;
  height: 300px;
}
div.tyyli2 {
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  color: red;
  border: double 10px;
  border-color: chartreuse;
  width: 100px;
  height: 550px;
}