body {
    background-color: black;
    color: white;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
    color: green;
  }
div.tyyli1 {
    background: red;
    color: white;
    border: dotted 2px;
    border-color: yellow;
    width: 100px;
    height: 100px;
}
.OLtyyli {
    list-style-type: upper-alpha;
}
.ULtyyli {
    list-style-type: square;
}
.Ptyyli {
    color: violet;
    font-size: 15px;
}